header{
    background-color:rgb(109, 109, 109);
    color:aliceblue;
    height: 28vh;
    margin-bottom: 5vh;
}
.container-title{
    text-align: center;
    padding-top:4vh;
}
nav{
    display: flex;
    text-align:end;
    margin-top: 2vh ;
}
nav ul{
    display: inline-flex;
}
nav ul li{
    padding: 2vh;
    list-style: none;
    margin-left: 2vw;
    
}