.main{
    display: inline-block;
    justify-content: center;
}
.posts-div{
    margin:1vw;
    width:30vw;
    height: 30vh;
}
.div-img{
    
    margin-top: 4vh;
    width: 80%;
}
.div-img h3{
    text-align: center;
    font-size: 3vh;
    width: 100%;
}
.div-img img{
    width:100%;
}
.info-extra {
    margin: auto 0;
    display: flex;
}
.info-extra p{
    font-size: 2vh;
}
.link-mais{
    font-weight: 500;
    text-decoration: none;
    color: #FFF;
    background-color: #6d6d6d;
    padding: 1vh;
    border: #6d6d6d solid 2px;
    border-radius: 10px;
}
.link-mais:hover{
    font-weight: 500;
    color: #6d6d6d;
    background-color: #d8d8d8;
}